In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from sklearn.ensemble import Kmeans

In [2]:
data = pd.read_csv("data/final/leaks.csv")
data.head()

,Unnamed: 0,entity,pagerank,degree,tax,cpi_score,eigen,degree_centrality,labels
0,0,# 1 APPLIANCES SERVICE AND PARTS,0.245625,0.0,25.0,68.0,0.000215,0.0,0.0
1,1,# 1 CAR COOLING,0.320000,0.0,25.0,68.0,0.000422,0.0,0.0
2,2,#1 PAINT STORE,0.277500,0.0,25.0,68.0,0.000215,0.0,0.0
3,3,#17 GUNSITE INC.,0.277689,0.0,5.5,67.0,0.000422,0.0,0.0
4,4,$1.00 A DAY RENT-A-CAR LIMITED,0.150564,0.0,0.0,68.0,0.000215,0.0,0.0