In [2]:
import pandas as pd
import numpy as np
import os

In [16]:
fp = os.path.join('data', 'corporate_taxes.csv')
taxes = pd.read_csv(fp)
# taxes.set_index('Country')
taxes

                    Country Corporate tax (excl. dividend taxes)
0               Afghanistan                                   20
1                   Albania                                   15
2                   Algeria                                   26
3            American Samoa                                   34
4                   Andorra                                   10
..                      ...                                  ...
220  British Virgin Islands                                    0
221     U.S. Virgin Islands                                   10
222                   Yemen                                   20
223                  Zambia                                   35
224                Zimbabwe                                   25

[225 rows x 2 columns]

In [39]:
def clean(str):
    idx = str.find('[')
    if idx != -1:
        return str[:idx]
    else:
        return str

In [41]:
taxes = taxes.assign(Country = taxes['Country'].apply(clean))
taxes.loc[167]
taxes

                    Country Corporate tax (excl. dividend taxes)
0               Afghanistan                                   20
1                   Albania                                   15
2                   Algeria                                   26
3            American Samoa                                   34
4                   Andorra                                   10
..                      ...                                  ...
220  British Virgin Islands                                    0
221     U.S. Virgin Islands                                   10
222                   Yemen                                   20
223                  Zambia                                   35
224                Zimbabwe                                   25

[225 rows x 2 columns]

In [43]:
taxes.to_csv('corporate_taxes.csv')