In [1]:
import pandas as pd
import numpy as np

In [2]:
final_df = pd.read_csv('data/final_df.csv')
final_df

,Unnamed: 0,name,num_bear,Country,Corporate tax,pagerank_score,CPI score 2015,eigen_score
0,0,DECARIA COMPANY LTD.,2,Samoa,27.0,0.413582,52,4.802
1,1,DRAGONTLY TELECOMMUNICATIONS INC.,15,Samoa,27.0,2.063801,52,19.208
2,2,DRAGONTLY TELECOMMUNICATIONS INC.,15,Samoa,27.0,2.063801,52,1.200
3,3,DRAGONTLY TELECOMMUNICATIONS INC.,15,Samoa,27.0,0.151301,52,19.208
4,4,DRAGONTLY TELECOMMUNICATIONS INC.,15,Samoa,27.0,0.151301,52,1.200
...,...,...,...,...,...,...,...,...
36690,36690,SUZANNE CORP.,2,India,22.0,0.575000,38,7.203
36691,36691,HANSAN CORP.,2,India,22.0,0.447500,38,7.203
36692,36692,SAUCHER HOLDING CORPORATION,2,Kenya,30.0,0.787500,25,6.002
36693,36693,Flexi-mobile Limited,2,Kenya,30.0,0.298750,25,3.601
36694,36694,CONSULT INTERNATIONAL LIMITED,5,Finland,20.0,0.596250,90,7.203