In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [3]:
data = pd.read_csv("data/test/panama_paradisev2.csv")
data = data[data.node_type == "[Entity]"]
grouped = data.groupby(['entity']).mean()
grouped = grouped.drop(columns=['Unnamed: 0'])
grouped = (grouped.reset_index())
grouped

,entity,pagerank,degree,tax,cpi_score,eigen,degree_centrality,labels
0,# 1 APPLIANCES SERVICE AND PARTS,0.245625,0.0,25.0,68.0,0.000215,0.0,0.0
1,# 1 CAR COOLING,0.320000,0.0,25.0,68.0,0.000422,0.0,0.0
2,#1 PAINT STORE,0.277500,0.0,25.0,68.0,0.000215,0.0,0.0
3,#17 GUNSITE INC.,0.277689,0.0,5.5,67.0,0.000422,0.0,0.0
4,$1.00 A DAY RENT-A-CAR LIMITED,0.150564,0.0,0.0,68.0,0.000215,0.0,0.0
...,...,...,...,...,...,...,...,...
280548,winebox limited,0.311500,0.0,35.0,60.0,0.001044,0.0,0.0
280549,wpd Panama S.A.,0.405000,0.0,25.0,39.0,0.000422,0.0,0.0
280550,¡2 ASSETS MANAGEMENT LIMITED,0.153984,0.0,33.0,55.0,0.000215,0.0,0.0
280551,ÑIMI-ÑIMI S.A.,0.430500,0.0,25.0,39.0,0.000630,0.0,0.0
280552,ÖMEGA ENTERPRISE EQUITIES INC.,0.150385,0.0,25.0,39.0,0.000215,0.0,0.0

In [5]:
X = data[["pagerank","degree","tax","cpi_score","eigen","degree_centrality"]]
X
y = data['labels']
y

0         0
1         0
2         0
3         0
4         0
         ..
461894    0
461895    0
461896    0
461897    0
461898    0
Name: labels, Length: 461899, dtype: int64

In [23]:
# Model
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1),max_features=1.0)
model.fit(numericalData)

C:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.1, n_estimators=50)

In [27]:
data['scores']=model.decision_function(numericalData)
data['anomaly']=model.predict(numericalData)
len(data['entity'].unique())/data.shape[0]

0.6073903602302668

In [25]:
data.anomaly.value_counts()/len(data)

 1    0.9
-1    0.1
Name: anomaly, dtype: float64

In [13]:
data

,Unnamed: 0,entity,category,node_type,pagerank,degree,country,labels,scores,anomaly
0,0,"""A"" COMPANY INTERNATIONAL EXPORT, INC.",Paradise Papers,[Entity],0.787500,0,Barbados,0,-0.072170,-1
1,1,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.171250,0,Aruba,0,0.093753,1
2,2,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.239250,0,Aruba,0,0.038041,1
3,3,"""ACRYLIC PRODUCTS LIMITED""",Paradise Papers,[Entity],0.150019,0,Bahamas,0,0.145992,1
4,4,"""AEROCOSTA"" EXPRESS",Paradise Papers,[Entity],0.447500,0,Aruba,0,0.043299,1
...,...,...,...,...,...,...,...,...,...,...
996546,996546,Zyrostel Ltd.,Panama Papers,[Entity],0.151026,0,British Virgin Islands,0,0.139881,1
996547,996547,ZYRYA OIL FINANCE LTD.,Panama Papers,[Entity],0.151992,0,Niue,0,0.127549,1
996548,996548,ZYRYA TANK CONTAINERS LTD.,Panama Papers,[Entity],0.151992,0,British Virgin Islands,0,0.127549,1
996549,996549,ZZ INTERNATIONAL HOLDINGS LTD.,Panama Papers,[Entity],0.151170,0,British Virgin Islands,0,0.136071,1
996550,996550,ZZC INVESTMENTS LIMITED,Panama Papers,[Entity],0.407161,0,British Virgin Islands,0,0.081602,1

In [14]:
data.anomaly = data.anomaly.map({1:0,-1:1})
data.head()

,Unnamed: 0,entity,category,node_type,pagerank,degree,country,labels,scores,anomaly
0,0,"""A"" COMPANY INTERNATIONAL EXPORT, INC.",Paradise Papers,[Entity],0.787500,0,Barbados,0,-0.072170,1
1,1,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.171250,0,Aruba,0,0.093753,0
2,2,"""A.T.L.I."" ARUBA'S TRAINING AND LANGUAGE INSTI...",Paradise Papers,[Entity],0.239250,0,Aruba,0,0.038041,0
3,3,"""ACRYLIC PRODUCTS LIMITED""",Paradise Papers,[Entity],0.150019,0,Bahamas,0,0.145992,0
4,4,"""AEROCOSTA"" EXPRESS",Paradise Papers,[Entity],0.447500,0,Aruba,0,0.043299,0

In [15]:
other = data.anomaly == data.labels

In [16]:
temp = data.anomaly == 1

In [17]:
count = 0
for i in range(len(temp)):
    if temp[i] and other[i]:
        count += 1

KeyError: 6

In [ ]:
(data.anomaly & data.labels).sum()

15